body {
    margin: 0;
    font-family: sans-serif;
}

div, body {
    box-sizing: border-box;
}

.contenedor {
    max-width: 100%;
    aspect-ratio: 16/9;
    margin: auto;
}

img {
    max-width: 100%;
}